<div class="container-fluid p-5 accordion justify-content-center mt-5">
    <div class="row-1 text-center">
        <label class="p-3"><b>Filter by name : </b></label>
        <input [(ngModel)]="filterText" class="p-1" />

        <label class="p-3"><b>Category: </b></label>
        <select class="text-center py-2 px-1 mb-5" [(ngModel)]="Selected">
            @for(cat of categories; track $index)
            {
            <option [value]="cat">{{cat.toUpperCase()}}</option>
            }
        </select>
        <button class="btn btn-primary m-3 p-2 px-5" (click)="resetTools()">Reset</button>
    </div>

    <div class="row">

        @if(productlist.length > 0)
        {
        <table class="table table-hover border-primary text-center align-middle">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
                <th scope="col">Available</th>
                <th scope="col">Category</th>
            </thead>
            <tbody class="table-group-divider border-primary ">
                @switch (Selected) {
                @case (""){
                @for(product of getlist(); track product.id)
                {
                @if(filterList(filterText).includes(product) == true){
                <tr>
                    <td><img width="90" height="70" src="{{product.imgUrl}}" alt="..." /></td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.isAvaliable ? 'Yes' : 'No'}}</td>
                    <td>{{product.category}}</td>
                </tr>
                }
                }
                }
                @default() {
                @for(product of getlist(Selected); track product.id)
                {
                @if(filterList(filterText).includes(product) == true){
                <tr>
                    <td><img width="90" height="70" src="{{product.imgUrl}}" alt="..." /></td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.isAvaliable ? 'Yes' : 'No'}}</td>
                    <td>{{product.category}}</td>
                </tr>
                }
                }

                }
                }

            </tbody>
        </table>
        }

    </div>
</div>