<div class="container-fluid">
    <div class="row d-flex align-items-center justify-content-between flex-column g-2">
        <div class="col-3 text-center text-center">
            <label class="col-6" for="filter">Filter by name :</label>
            <input class="col-6" id="filter" [(ngModel)]="filterText" placeholder="product's name" />
        </div>

        <div class="col-3 text-center">
            <label class="col-6" for="categories">Category :</label>
            <select class="col-6" id="categories" title="products' categories" class="text-center"
                [(ngModel)]="Selected">
                @for(cat of categories; track $index)
                {
                <option [value]="cat">{{cat}}</option>
                }
            </select>
        </div>
        <div class="col-3 text-center d-flex justify-content-center align-items-center text-center ">
            <button class="btn btn-primary w-100 text-center " (click)="resetTools()">Reset</button>
        </div>
    </div>

    <div class="row-1">

        @if(productlist.length > 0)
        {
        <table class="table table-hover border-primary text-center align-middle">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
                <th scope="col">Available</th>
                <th scope="col">Category</th>
            </thead>
            <tbody class="table-group-divider border-primary ">
                @switch (Selected) {
                @case (""){
                @for(product of getlist(); track product.id)
                {
                @if(filterList(filterText).includes(product) == true){
                <tr>
                    <td><img width="90" height="70" src="{{product.imgUrl}}" alt="..."
                            onerror="this.src='../../../favicon.ico';onerror='';" /></td>
                    <td>
                        <a [routerLink]="['/home',product.id]"
                            routerLinkActive="router-link-active">{{product.name}}</a>
                    </td>
                    <td>{{product.price}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.isAvaliable ? 'Yes' : 'No'}}</td>
                    <td>{{product.category}}</td>
                </tr>
                }
                }
                }
                @default() {
                @for(product of getlist(Selected); track product.id)
                {
                @if(filterList(filterText).includes(product) == true){
                <tr>
                    <td><img width="90" height="70" src="{{product.imgUrl}}" alt="..."
                            onerror="this.src='../../../favicon.ico';onerror='';" /></td>
                    <td>
                        <a [routerLink]="['/home',product.id]"
                            routerLinkActive="router-link-active">{{product.name}}</a>
                    </td>
                    <td>{{product.price}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.isAvaliable ? 'Yes' : 'No'}}</td>
                    <td>{{product.category}}</td>
                </tr>
                }
                }

                }
                }

            </tbody>
        </table>
        }
    </div>
</div>