.flex-center {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.card-img-top {
    height: 200px;
    width: 220px;
    object-fit: cover;
}

.card-title,
.card-text {
    width: 200px;
    height: 45px;
    object-fit: cover;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
}