<!-- @if() -->
<div class="d-flex flex-column justify-content-center align-items-center m-5">
    <img src={{this.img}} class="card-img-top img-fluid mx-auto" onerror="this.src='../../../favicon.ico';onerror='';"
        alt="...">
    <div class="card-body text-center">
        <h5 class="card-title">{{this.title}} - [Product No.{{this.id}}]</h5>
        <p class="card-text">
            {{this.txt}}
        </p>
        <a class="btn btn-primary" target="_blank" (click)="back()"><i class="fa fa-chevron-left"></i>Back</a>
    </div>
</div>
